@font-face {
    font-family: "Jaapokki";
    src: url(fonts/jaapokki-regular.ttf) format("truetype");
}


.r {
  max-width: 8%;
  margin: auto;
}

svg {
    stroke: #000;
    stroke-width: 4;
    stroke-dasharray: 100px;
    stroke-dashoffset: 100px;
    animation-name: draw;
    animation-duration: 8s;
    animation-fill-mode: forwards; // Stay on the last frame
    animation-iteration-count: 2; // Run only once
    animation-timing-function: linear;
}

@keyframes draw {
  to {
    stroke-dashoffset: 20;
  }
}

.gradient {
background: linear-gradient(270deg, #FFCDB2, #FFB4A2, #E5989B, #B5838D, #6D6875);
background-size: 1000% 1000%;
-webkit-animation: AnimationName 15s ease infinite;
-moz-animation: AnimationName 15s ease infinite;
animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.gradient-inner {
  height: 100vh;
}

.gradient-text {
  margin-top: 20%;
  margin-left: 35%;
  position: absolute;
}

h1 {
  color: black;
  font-size: 60px;
  font-family: 'Jaapokki';
  letter-spacing: 3px;
}