@font-face {
    font-family: "Jaapokki";
    src: url(fonts/jaapokki-regular.ttf) format("truetype");
}

body {
  font-family: 'Jaapokki';
  font-size: 20px;
}

.title-text {
  margin-top: 20%;
}
.row {
  max-width: none;
}
.work {
  position: absolute;
  text-align: center;
  bottom: 20px;
  right: 0;
  left: 0;

  }
.blog {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.blog-text{
   transform: rotate(270deg);
    transform-origin: top 0;
 
}

.lab {
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.lab-text {
   transform: rotate(90deg);
  transform-origin: top 0;
}
.r {
  width: 10%;
  margin: 0 auto;
  margin-top: 40px;
}

svg {
    stroke: #000;
    stroke-width: 3;
    stroke-dasharray: 100px;
    stroke-dashoffset: 100px;
    animation-name: draw;
    animation-duration: 12s;
    animation-fill-mode: forwards; // Stay on the last frame
    animation-iteration-count: 2; // Run only once
    animation-timing-function: linear;
}

@keyframes draw {
  to {
    stroke-dashoffset: 20;
  }
}

.gradient {
background: linear-gradient(270deg, #C6D2F2, #F2AC9B, #C9FFF9, #FFF2F2, #D8E6FF);
background-size: 1000% 1000%;
-webkit-animation: AnimationName 10s ease infinite;
-moz-animation: AnimationName 10s ease infinite;
animation: AnimationName 10s ease infinite;
margin-top: 5%;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.gradient-inner {
  height: 87vh;
}

.gradient-text {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}

h1 {
  color: white;
  font-size: 50px;
  font-family: 'Jaapokki';
  letter-spacing: 3px;
}

h4 {
  font-family: 'Jaapokki';
  opacity: .4;
}